@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
*{
  font-family: 'Hammersmith One', sans-serif;
}


body{  
  background-image: url(img/bg-teste.jpg);  
  background-repeat: no-repeat;
  background-size: cover;
  color: royalblue;
}
header{
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #45B649, #DCE35B);
;
}
.foto-cabecalho {
  height: 100%;
  width: 20%;

}

.inicio{  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.inicio div{  
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}


.texto{
  background: wheat;
  opacity: 0.8;
  color:black;
  font-size: 20px;
  display: flex;
  flex-direction: column;
   align-items: center;
  width: 99%;
 
}
.foto-texto {
  width: 60%;
  display: flex;
  justify-content: center;
  
}
.foto-texto img{
  width: 100%;
}


h2 {
  background: linear-gradient(to right, #45B649, #DCE35B);
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 40px;

}

.video{
  width: 80%;
  height: 60vh;
  
  }

.personagens {
  
  background: #DCE35B;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
  border-radius: 50px;
}

.personagens:hover{
  background: greenyellow;
  cursor: pointer;
}

.personagens h3{
  background: black;
  display: flex;
  border-radius: 10px;
  width: 90%;
}

.personagens p{
  background: black;
   display: flex;
   width: 90%;
   font-size: 20px;
  border-radius: 10px;


}

.personagens h3  {
  background: black;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

h3{
  background: black;
display: flex;
align-items: center;
width: 80%;
}

.person{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  
}
footer {  
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 30px;
  height: 200px;
}

a:hover {
  color:royalblue;
  text-decoration: none;
}

a{
  text-decoration: none;
  font-style: italic;
}
@media (max-width: 600px) {

  .person{
 flex-wrap: wrap;

  }
  .personagens{
    border-radius: 50px;
  }
  .texto{

  width: 99%;
  }
  .foto-texto {
    width: 95%;
    border: solid;
    }
    h2{
      text-align: center;
    }

}